.footer {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-family: Arial, sans-serif;
  /* font-size: 14px; */
}

.footer-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-text {
  line-height: 0.3;
}
.bottom-p-first {
  margin-bottom: 2.5rem;
}
.bottom-p {
  margin-bottom: 2.2rem;
}
.font-bold {
  font-weight: bold;
}

.footer-icons {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 2rem;
}

.footer-icon {
  font-size: 20px;
  color: black;
  transition: color 0.3s ease;
}

.footer-icon:hover {
  color: #0073e6; /* Couleur au survol */
}

/***************************************/
/********** MEDIA SCREEN ********/
@media screen and (max-width: 790px) {
  .footer-content {
    flex-direction: column;
  }
}
